/* custom font */
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);*/
@import "../fonts/Roboto+400+300+500.css";

/* custom font icons */
@import "font-icons/style.css";
@import "font-icons/material-font.css";

body{
    font-family: "Roboto", "Microsoft YaHei";
    /*font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;*/
    margin: 0;
    background-color: #fff;
}



